*.png
*.pth
*.pyc
__pycache__/
wandb/
imgs/
.vscode/settings.json
AIMS_data_test/
old_scripts/
eval_results_coco_format.json
gt_coco_format.json
comparison_imgs/
*.json
mmyolo/
paper_scripts/
yang_model/